:root {
  --main-color: #2e2f42;
  --text-color: #434455;
  --logo-btn-color: #4d5ae5;
  --background-color: #2e2f42;
  --hover-focus-color: #404bbf;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.conteiner {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* REPETITION STYLE SECTION */
/* 1=3 */
.sup-title {
  color: var(--background-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.text-sup-title {
  color: var(--text-color);
}

/* 2=3 */
.section-title {
  color: var(--background-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

/* =======================ШАПКА======================= */

.main-header {
  padding-top: 25.5px;
  padding-bottom: 25.5px;

  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.main-header-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 21px;
}

.logo {
  color: var(--background-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-piece {
  color: var(--logo-btn-color);
}

.main-nav {
  font-weight: 500;
  display: flex;
  align-items: center;
}

.menu-list {
  
  display: flex;
  align-items: center;
}

.menu-list-item{
  position: relative;
}

.menu-list-item:not(:last-child) {
  margin-right: 40px;
}



.menu-link-item {
  padding: 24px 0px;
  color: var(--background-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active::after {
  position: absolute;
  display: block;
  content: "";
  height: 4px;
  width: 100%;
  bottom: -25px;
  border-radius: 2px;
  background-color: var(--hover-focus-color);
}

.active{
  color: var(--hover-focus-color);
}

.menu-link-item:hover,
.menu-link-item:focus {
  color: var(--hover-focus-color);
}

.main-adress {
  font-style: normal;
}

.adress-link-item {
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-link-item:hover,
.adress-link-item:focus {
  color: var(--hover-focus-color);
}

.adress-list {
  display: flex;
  align-items: center;
}

.tel {
  margin-left: 40px;
}

/* =======================/ШАПКА======================= */

/* =======================МЕЙН======================= */

/* ========HERO======== */

.hero {
  background-color: var(--grey, rgba(46, 47, 66, 0.7));
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-img/people-office\ 1.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 188px 0;
}

.main-title {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;

  width: 496px;
  height: 120px;

  margin-bottom: 48px;
}

.modal-btn {
  background-color: var(--logo-btn-color);
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: 500;
  letter-spacing: 0.64px;

  padding: 16px 32px;

  border-radius: 4px;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--hover-focus-color);
}

/* ========/HERO======== */

/* ========SECTION-1======== */

.about-list {
  display: flex;
  justify-content: space-between;
  padding: 120px 0;
}
.about-list-item {
  width: 264px;
}

.about-list-item:not(:last-child) {
  margin-right: 24px;
}

.section-1-icon-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4fd;
  border-radius: 4px;

  margin-bottom: 8px;
  width: 264px;
  height: 102px;
}

.sup-title-conteiner {
  margin-bottom: 8px;
}

/* ========/SECTION-1======== */

/* ========SECTION-2======== */

.section-two {
  padding-bottom: 120px;
}

.section-two-title {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.galery-list {
  display: flex;
  justify-content: space-between;
}

/* ========/SECTION-2======== */

/* ========SECTION-3======== */

.section-three {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.section-three-title {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.employees-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;

  border-radius: 0px 0px 4px 4px;
}

.employees-list-item {
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.employees-text-conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 232px;

  margin: 32px auto;
  gap: 8px;
}

.social-list-icon {
  display: flex;
  gap: 24px;
}

.link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--logo-btn-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon:hover,
.link-icon:focus {
  background-color: var(--hover-focus-color);
}

/* ========/SECTION-3======== */

/* ========SECTION-4======== */

.section-four-conteiner {
  padding: 120px 0;
}

.section-four-title {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.customers-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 168px;
  height: 88px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
  fill: #8e8f99;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link-icon:hover,
.customers-link-icon:focus {
  border-color: var(--hover-focus-color);
}

.customers-link-icon:hover .customers-icon,
.customers-link-icon:focus .customers-icon {
  fill: #404bbf;
}

/* ========/SECTION-4======== */

/* =======================/МЕЙН======================= */

/* =======================ПІДВАЛ======================= */

.footer {
  background-color: var(--background-color);
}

.footer-conteiner {
  display: flex;
}

.footer-logo-conteiner {
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-footer {
  color: #f4f4fd;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-text {
  color: #f4f4fd;
  margin-top: 17.5px;
  width: 264px;
  height: 72px;
}

.footer-icon-conteiner {
  padding: 100px 0 132px 0;
  margin-left: 120px;
}

.social-media-title {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

.social-media-footer {
  display: flex;
  gap: 16px;
}

.list-social-media {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--logo-btn-color);
  border-radius: 50%;
}

.link-social-media:hover,
.link-social-media:focus {
  background-color: #31d0aa;
}

.link-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form {
  display: inline-block;
  padding-top: 100px;
  margin-left: 80px;
}

.subscribe-action {
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
}

.subscribe-form-field {
  width: 100%;
  margin-right: 22px;
}

.subscribe-form-input {
  background-color: transparent;
  color: #ffffff;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 264px;
  height: 40px;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
}

.subscribe-form-input::placeholder {
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.48px;
}

.subscribe-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 165px;
  padding: 8px 24px;
  background-color: var(--logo-btn-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  gap: 16px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--hover-focus-color);
}

/* =======================/ПІДВАЛ======================= */

/* =======================!!!!!!!!!======================= */
/* =======================ПОРТФОЛІО======================= */
/* =======================!!!!!!!!!======================= */

/* <!-- ========МЕЙН-ПОРТФОЛІО======== --> */
/* ___FILTER____ */
.button-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 96px;
  margin-bottom: 72px;
  gap: 24px;
}

.button-list-name {
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  color: var(--logo-btn-color);
  background-color: #f4f4f4;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list-name:focus,
.button-list-name:hover {
  color: #ffffff;
  background-color: var(--hover-focus-color);
}

/* ___/FILTER____ */

/* ____PORTFOLIO-IMG____ */

.portf-list-conteiner {
  width: 1128px;
  margin-bottom: 120px;
}

.portf-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.portf-img-list {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 360px;
  height: 420px;
  background: #fff;
}

.portf-list-link {
  display: flex;
  flex-direction: column;
}

.portf-img-wrapper {
  position: relative;
  overflow: hidden;
}

.portf-list-link:focus .overlay,
.portf-list-link:hover .overlay {
  transform: translate(0, 0);
}

.portf-img {
  position: relative;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  color: #f4f4fd;
  background-color: var(--logo-btn-color);
  width: 100%;
  height: 100%;
  overflow: auto;

  padding: 40px 32px 164px 32px;
  line-height: 1.5;

  transform: translate(0%, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subinfo {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 32px;
  gap: 8px;
  border: 1px solid #f4f4fd;
  border-top: transparent;
}

.subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: #2e2f42;
}

.subtext {
  color: #434455;
}

/* ____/PORTFOLIO-IMG____ */

/* <!-- ========/МЕЙН-ПОРТФОЛІО======== --> */

/* =========MODAL-WINDOW========= */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 72px 24px 24px 24px;
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close-btn:active {
  background-color: #404bbf;
}
.close-btn:active .close-icon {
  fill: #ffffff;
}

.close-icon {
  fill: #2e2f42;
}

/* ===MODAL-FORM=== */

.modal-form {
  display: flex;
  flex-direction: column;
}

.form-action {
  color: #2e2f42;
  text-align: center;

  font-weight: 500;
  margin-bottom: 16px;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-input-desc {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;

  font-size: 12px;

  line-height: 1.16;
  letter-spacing: 0.48px;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-input {
  padding-left: 38px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  color: #2e2f42;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.48px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: #2e2f42;
  transform: translate(0, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: #4d5ae5;
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: #4d5ae5;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  color: #2e2f42;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.48px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-message:focus {
  outline: none;
  border-color: #4d5ae5;
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.48px;
  margin-bottom: 24px;
}

.policy-link {
  color: #4d5ae5;
  line-height: 1.33;
}

.modal-form-check-desc::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}

.modal-form-check:checked + .modal-form-check-desc::before {
  background-image: url(../images/Property\ 1=click.svg);
  border: none;
}

.modal-form-check:focus + .modal-form-check-desc::before {
  outline: 1px solid #4d5ae5;
}

.modal-form-submit {
  min-width: 169px;
  margin: 0 auto;
  background-color: var(--logo-btn-color);
  color: #ffffff;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: 500;
  letter-spacing: 0.64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--hover-focus-color);
}

/* ===/MODAL-FORM=== */

/* =========/MODAL-WINDOW========= */
